#picture{
    height: 200px;
    width: 200px;
    overflow: hidden;
    text-align: center;
    border: 1px solid #000000;
  }
  #bagImage {
    cursor: pointer;
    height: 200px;
    width: 200px;
    position: absolute;
    align-items: center;  
  }
  .zoomIn{
    color:black;
  }
  .zoomOut{
    color:black;
  }
   .zoomOut:hover{
    color: grey;
  }
  .zoomIn:hover{
    color: grey;
  } 
  .close{
    color: white;
    opacity: 1;
    margin-top: 10px;
  }
  .close:hover{
    color: white;
    opacity: 1;
  }
  a{
    color: none;
  }
  #bagImageZoom{
    height: 400px;
    width: 400px;
    align-items: center !important;
    padding: 150px 0 0 130px;
    /* overflow: visible; */
    overflow: hidden;
  }
  button{
    position: relative;
  }
  .image{
    position: relative;
    min-height: 430px;
  }
  .modal-body{
    overflow-x: auto;
    overflow-y: auto;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  } 
  .fa , .fas{
color:grey;
font-weight: 100;
padding: 10px;
  }